extends: default
rules:
  line-length: disable
  indentation: disable
  comments: disable
  document-start:
    present: false
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  trailing-spaces: disable
  brackets: disable
  new-line-at-end-of-file: disable
  new-lines: disable
